.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

a {
  padding-right: 0px;
  padding-left: 0px;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

label {
  display: block;
  margin-bottom: 0px;
  font-weight: 700;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 0px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline-block;
  width: auto;
}

.txt-bold {
  font-weight: 700;
}

.txt-right {
  text-align: right;
}

.txt-upcase {
  text-transform: uppercase;
}

.txt-strike {
  text-decoration: line-through;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 32px;
}

.p-5 {
  padding: 48px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 48px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pr-4 {
  padding-right: 32px;
}

.pr-5 {
  padding-right: 48px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 48px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pl-5 {
  padding-left: 48px;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 7px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.m-4 {
  margin: 32px;
}

.m-5 {
  margin: 48px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 48px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 48px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 48px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.ml-5 {
  margin-left: 48px;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.align-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.justify-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-baseline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-stretch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.align-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.justify-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

._w-25 {
  width: 25%;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ec3838;
  color: #d3d3d3;
  font-size: 14px;
  text-align: center;
  letter-spacing: normal;
  text-indent: 0px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
}

.abs-lt {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.abs-rt {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.abs-lb {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.abs-rb {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.abs-left {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.abs-right {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.abs-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.abs-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.abs-full {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.txt-nowrap {
  white-space: nowrap;
}

.mx-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.mx-1 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-2 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-3 {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-4 {
  margin-right: 32px;
  margin-left: 32px;
}

.mx-5 {
  margin-right: 48px;
  margin-left: 48px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-5 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.px-1 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-2 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-3 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-4 {
  padding-right: 32px;
  padding-left: 32px;
}

.px-5 {
  padding-right: 48px;
  padding-left: 48px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-5 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.txt-white {
  color: #fff;
}

.bg-grey200 {
  background-color: #f4f4f8;
}

.bg-white {
  background-color: #fff;
}

.heading1 {
  line-height: 110%;
}

.heading2 {
  line-height: 120%;
}

.heading3 {
  line-height: 110%;
}

.heading4 {
  line-height: 120%;
}

.heading5 {
  line-height: 120%;
}

.heading6 {
  line-height: 120%;
}

.body1 {
  line-height: 120%;
}

.caption1 {
  letter-spacing: 1.05px;
  text-transform: uppercase;
}

.txt-link {
  color: #f0b;
  text-decoration: none;
}

.txt-link-hover {
  color: #000;
  text-decoration: none;
}

.txt-link-hover:hover {
  color: #f0b;
}

.txt-link-none {
  color: #000;
  text-decoration: none;
}

.txt-link-none:hover {
  color: #000;
}

.body1-code {
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.h-auto {
  height: auto;
}

.h-screen {
  height: 100vh;
}

.gap-4 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.gap-3 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.grid-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gcol-1 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.d-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.d-sm-grid {
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gcol-sm-3 {
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gcol-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gap-1 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.gcol-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gap-2 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.rounded-full {
  overflow: hidden;
  border-radius: 999px;
}

.rounded-4 {
  overflow: hidden;
  border-radius: 24px;
}

.rounded-3 {
  overflow: hidden;
  border-radius: 16px;
}

.rounded-2 {
  overflow: hidden;
  border-radius: 8px;
}

.rounded-1 {
  overflow: hidden;
  border-radius: 4px;
}

.shadow-1 {
  box-shadow: 1px 1px 3px 0 rgba(30, 28, 26, 0.3);
}

.shadow-2 {
  box-shadow: 0 6px 6px 0 rgba(30, 28, 26, 0.2);
}

.shadow-3 {
  box-shadow: 0 4px 5.57042px 0 rgba(0, 0, 0, 0.06), 0 10px 15.4015px 0 rgba(0, 0, 0, 0.08), 0 26px 37.0809px 0 rgba(0, 0, 0, 0.1), 0 85px 123px 0 rgba(0, 0, 0, 0.16);
}

.txt-black700 {
  color: #3a3733;
}

.bg-grey300 {
  background-color: #f0f0f0;
}

.bg-grey500 {
  background-color: #c8c8c8;
}

.bg-grey100 {
  background-color: #fafafa;
}

.bg-black700 {
  background-color: #3a3733;
}

.txt-black500 {
  color: #706c67;
}

.txt-black600 {
  color: #55514d;
}

.bg-grey700 {
  background-color: #a0a0a0;
}

.bg-black600 {
  background-color: #55514d;
}

.txt-black800 {
  color: #1e1c1a;
}

.bg-grey900 {
  background-color: #787878;
}

.bg-black500 {
  background-color: #706c67;
}

.bg-black800 {
  background-color: #1e1c1a;
}

.h-full {
  height: 100%;
}

.obj-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.obj-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.obj-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.obj-none {
  -o-object-fit: none;
  object-fit: none;
}

.obj-scaledown {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.h-1-2 {
  height: 50%;
}

.h-4 {
  height: 4px;
}

.overflow-visible {
  overflow: visible;
}

.wallpaper1 {
  background-image: linear-gradient(177deg, #0400d8, #0096ec);
}

._w-3-4 {
  width: 75%;
}

.minw-sm {
  min-width: 479px;
}

._w-1-4 {
  width: 25%;
}

._w-full {
  display: block;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._w-1-2 {
  width: 50%;
}

._w-auto {
  width: auto;
}

._w-2-3 {
  width: 67.777777%;
}

.minw-lg {
  min-width: 1000px;
}

._w-1-3 {
  width: 33.3333333%;
}

.minw-md {
  min-width: 729px;
}

.z-999 {
  z-index: 999;
}

.z-auto {
  z-index: auto;
}

.h-8 {
  height: 8px;
}

.h-12 {
  height: 12px;
}

.h-16 {
  height: 16px;
}

.h-24 {
  height: 24px;
}

.h-32 {
  height: 32px;
}

.h-40 {
  height: 40px;
}

.h-48 {
  height: 48px;
}

.h-64 {
  height: 64px;
}

.h-80 {
  height: 80px;
}

.h-96 {
  height: 96px;
}

.h-160 {
  height: 160px;
}

.h-200 {
  height: 200px;
}

.h-250 {
  height: 250px;
}

.h-300 {
  height: 300px;
}

.h-350 {
  height: 350px;
}

.h-400 {
  height: 400px;
}

.h-450 {
  height: 450px;
}

.h-500 {
  height: 500px;
}

.h-600 {
  height: 600px;
}

.h-1-4 {
  height: 25%;
}

.h-3-4 {
  height: 75%;
}

.h-1-3 {
  height: 33.33333%;
}

.h-2-3 {
  height: 67.77777%;
}

.mb-n3 {
  margin-bottom: -24px;
}

.my-n4 {
  margin-top: -32px;
  margin-bottom: -32px;
}

.mr-n3 {
  margin-right: -24px;
}

.ml-n1 {
  margin-left: -8px;
}

.my-n3 {
  margin-top: -24px;
  margin-bottom: -24px;
}

.ml-n2 {
  margin-left: -16px;
}

.m-n2 {
  margin: -16px;
}

.m-n4 {
  margin: -32px;
}

.m-n1 {
  margin: -8px;
}

.mx-n2 {
  margin-right: -16px;
  margin-left: -16px;
}

.mb-n2 {
  margin-bottom: -16px;
}

.mr-n5 {
  margin-right: -48px;
}

.mt-n4 {
  margin-top: -32px;
}

.my-n1 {
  margin-top: -8px;
  margin-bottom: -8px;
}

.mt-n5 {
  margin-top: -48px;
}

.mb-n5 {
  margin-bottom: -48px;
}

.m-n5 {
  margin: -48px;
}

.ml-n5 {
  margin-left: -48px;
}

.mx-n3 {
  margin-right: -24px;
  margin-left: -24px;
}

.m-n3 {
  margin: -24px;
}

.mr-n4 {
  margin-right: -32px;
}

.ml-n3 {
  margin-left: -24px;
}

.mt-n1 {
  margin-top: -8px;
}

.ml-n4 {
  margin-left: -32px;
}

.mr-n2 {
  margin-right: -16px;
}

.mr-n1 {
  margin-right: -8px;
}

.mb-n1 {
  margin-bottom: -8px;
}

.mx-n5 {
  margin-right: -48px;
  margin-left: -48px;
}

.mb-n4 {
  margin-bottom: -32px;
}

.my-n5 {
  margin-top: -48px;
  margin-bottom: -48px;
}

.my-n2 {
  margin-top: -16px;
  margin-bottom: -16px;
}

.mt-n2 {
  margin-top: -16px;
}

.mx-n1 {
  margin: 0px -8px;
}

.mx-n4 {
  margin-right: -33px;
  margin-left: -33px;
}

.mt-n3 {
  margin-top: -24px;
}

._w-350 {
  width: 350px;
}

._w-400 {
  width: 400px;
}

._w-300 {
  width: 300px;
}

._w-4 {
  width: 4px;
}

._w-200 {
  width: 200px;
}

._w-160 {
  width: 160px;
}

._w-40 {
  width: 40px;
}

._w-600 {
  width: 600px;
}

._w-48 {
  width: 48px;
}

._w-96 {
  width: 96px;
}

._w-250 {
  width: 250px;
}

._w-500 {
  width: 500px;
}

._w-12 {
  width: 12px;
}

._w-8 {
  width: 8px;
}

._w-80 {
  width: 80px;
}

._w-64 {
  width: 64px;
}

._w-32 {
  width: 32px;
}

._w-16 {
  width: 16px;
}

._w-450 {
  width: 450px;
}

._w-24 {
  width: 24px;
}

.bl-4 {
  border-left-style: solid;
  border-left-width: 4px;
}

.bl-0 {
  border-left-style: solid;
  border-left-width: 0px;
}

.b-1 {
  border-style: solid;
  border-width: 1px;
}

.bl-1 {
  border-left-style: solid;
  border-left-width: 1px;
}

.bt-4 {
  border-top-style: solid;
  border-top-width: 4px;
}

.bl-8 {
  border-left-style: solid;
  border-left-width: 8px;
}

.br-8 {
  border-right-style: solid;
  border-right-width: 8px;
}

.bx-8 {
  border-right-style: solid;
  border-right-width: 8px;
  border-left-style: solid;
  border-left-width: 8px;
}

.br-0 {
  border-right-style: solid;
  border-right-width: 0px;
}

.b-black700 {
  border-style: solid;
  border-color: #3a3733;
}

.bx-1 {
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
}

.bx-4 {
  border-left: 4px solid #000;
  border-right-style: solid;
  border-right-width: 4px;
}

.by-8 {
  border-top-style: solid;
  border-top-width: 8px;
  border-bottom-style: solid;
  border-bottom-width: 8px;
}

.b-grey100 {
  border-style: solid;
  border-color: #fafafa;
}

.bx-0 {
  border-right-style: solid;
  border-right-width: 0px;
  border-left-style: solid;
  border-left-width: 0px;
}

.by-4 {
  border-top-style: solid;
  border-top-width: 4px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.bt-1 {
  border-top-style: solid;
  border-top-width: 1px;
}

.b-0 {
  border-style: solid;
  border-width: 0px;
}

.by-2 {
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.br-4 {
  border-right-style: solid;
  border-right-width: 4px;
}

.bl-2 {
  border-left-style: solid;
  border-left-width: 2px;
}

.bb-4 {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.br-2 {
  border-right-style: solid;
  border-right-width: 2px;
}

.b-grey900 {
  border-style: solid;
  border-color: #787878;
}

.b-black800 {
  border-color: #000;
}

.b-black500 {
  border-style: solid;
  border-color: #706c67;
}

.bb-8 {
  border-bottom-style: solid;
  border-bottom-width: 8px;
}

.bt-0 {
  border-top-style: solid;
  border-top-width: 0px;
}

.b-grey500 {
  border-style: solid;
  border-color: #c8c8c8;
}

.bx-2 {
  border-right-style: solid;
  border-right-width: 2px;
  border-left-style: solid;
  border-left-width: 2px;
}

.by-1 {
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.by-0 {
  border-top-style: solid;
  border-top-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
}

.b-black600 {
  border-style: solid;
  border-color: #706c67;
}

.b-grey300 {
  border-style: solid;
  border-color: #f0f0f0;
}

.b-8 {
  border-style: solid;
  border-width: 8px;
}

.b-4 {
  border-style: solid;
  border-width: 4px;
}

.bt-2 {
  border-top-style: solid;
  border-top-width: 2px;
}

.b-2 {
  border-style: solid;
  border-width: 2px;
}

.b-grey700 {
  border-style: solid;
  border-color: #a0a0a0;
}

.br-1 {
  border-right-style: solid;
  border-right-width: 1px;
}

.bb-0 {
  border-bottom-style: solid;
  border-bottom-width: 0px;
}

.bb-1 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bt-8 {
  border-top-style: solid;
  border-top-width: 8px;
}

.bb-2 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.obj-lt {
  -o-object-position: 0% 0%;
  object-position: 0% 0%;
}

.obj-l {
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.obj-lb {
  -o-object-position: 0% 100%;
  object-position: 0% 100%;
}

.obj-b {
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.obj-rb {
  -o-object-position: 100% 100%;
  object-position: 100% 100%;
}

.obj-r {
  -o-object-position: 100% 50%;
  object-position: 100% 50%;
}

.obj-rt {
  -o-object-position: 100% 0%;
  object-position: 100% 0%;
}

.obj-t {
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.txt-nodecoration {
  text-decoration: none;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.home-hero {
  min-height: 60px;
}

.body {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: Muli, sans-serif;
  text-align: right;
}

.home-hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.header {
  height: auto;
  padding: 10px 30px;
  border-radius: 0px;
  background-color: #403b37;
}

.nav-buttons {
  position: static;
  margin-right: 0px;
  padding: 0px;
}

.button-2 {
  margin-right: 23px;
  margin-left: 23px;
}

.button-3 {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0px;
}

.button-4 {
  margin-right: 30px;
  margin-left: 30px;
}

.button-5 {
  margin-right: 25px;
  margin-left: 25px;
}

.button-6 {
  margin-right: 0px;
  margin-left: 0px;
}

.button-7 {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #403b37;
}

.header-hero {
  margin-top: 0px;
  margin-bottom: 1px;
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
  background-color: #fdedcc;
}

.portfolio-grid.mg-lg-3 {
  margin-top: 60px;
  padding-right: 0px;
  grid-auto-flow: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.portfolio-grid.pd-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.mg-lg-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.image {
  padding-top: 0px;
}

.image-2 {
  display: block;
  color: #fff;
}

.heading {
  margin-top: -30px;
  margin-bottom: 0px;
  padding: 20px 30px;
  background-color: #fdedcc;
  font-size: 28px;
  text-align: left;
}

.title {
  text-align: left;
}

.about {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #d6ebe4;
}

.grid {
  grid-column-gap: 31px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-2 {
  text-align: left;
}

.right-heading {
  margin-top: -30px;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: left;
}

.right-text {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #404040;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-3 {
  color: #fff;
}

.nav-link-4 {
  color: #fff;
}

.image-3 {
  display: block;
}

.footer {
  margin-top: -30px;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f4e7f1;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.container-2 {
  margin-right: 0px;
  margin-left: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.social-links {
  text-align: center;
}

.social-link {
  margin-right: 53px;
  margin-left: 53px;
}

.contact {
  margin-top: 30px;
}

.list-item {
  font-size: 16px;
}

.list-item-2 {
  margin-top: 8px;
  font-size: 16px;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media screen and (min-width: 1440px) {
  .image-2 {
    position: static;
    display: block;
  }
  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }
  .nav-menu {
    display: block;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: right;
  }
  .container-2 {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    text-align: right;
  }
}

@media screen and (min-width: 1920px) {
  .image-2 {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .overflow-visible {
    overflow: visible;
  }
  ._w-full {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .portfolio-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: #fdedcc;
  }
  .portfolio-grid.mg-lg-3 {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
  }
  .image-2 {
    display: block;
  }
  .heading {
    margin-top: -31px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fdedcc;
    color: #403b37;
  }
  .title {
    text-align: center;
  }
  .about {
    margin-top: -30px;
    background-color: #d6ebe4;
  }
  .grid {
    padding-right: 0px;
    padding-left: 0px;
    grid-row-gap: 60px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #d6ebe4;
  }
  .text-block-2 {
    text-align: left;
  }
  .central-heading {
    font-size: 28px;
  }
  .right-heading {
    padding-top: 20px;
    font-size: 28px;
    text-align: left;
  }
  .right-text {
    padding: 0px 10px;
    background-color: #d6ebe4;
  }
  .navbar {
    max-width: 100%;
  }
  .icon {
    color: #fff;
  }
  .nav-menu {
    background-color: #404040;
  }
  .menu-button.w--open {
    background-color: #404040;
  }
  .footer {
    margin-top: -31px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f4e7f1;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-heading {
    width: 30px;
  }
  .container-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .social-links {
    text-align: center;
  }
  .social-link {
    margin-right: 38px;
    margin-left: 38px;
  }
  .contact {
    margin-top: 40px;
  }
  .list-item {
    margin-bottom: 13px;
    font-size: 16px;
    list-style-type: none;
  }
  .heading-3 {
    font-size: 20px;
  }
  .list-item-2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  a {
    text-decoration: none;
  }
  .d-sm-none {
    display: none;
  }
  .m-sm-0 {
    margin: 0px;
  }
  .m-sm-1 {
    margin: 8px;
  }
  .m-sm-2 {
    margin: 16px;
  }
  .m-sm-3 {
    margin: 24px;
  }
  .m-sm-4 {
    margin: 32px;
  }
  .m-sm-5 {
    margin: 48px;
  }
  .mx-sm-0 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .mx-sm-1 {
    margin-right: 8px;
    margin-left: 8px;
  }
  .mx-sm-2 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .mx-sm-3 {
    margin-right: 24px;
    margin-left: 24px;
  }
  .mx-sm-4 {
    margin-right: 32px;
    margin-left: 32px;
  }
  .mx-sm-5 {
    margin-right: 48px;
    margin-left: 48px;
  }
  .my-sm-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .my-sm-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .my-sm-2 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .my-sm-3 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .my-sm-4 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .my-sm-5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mt-sm-0 {
    margin-top: 0px;
  }
  .mt-sm-1 {
    margin-top: 8px;
  }
  .mt-sm-2 {
    margin-top: 16px;
  }
  .mt-sm-3 {
    margin-top: 24px;
  }
  .mt-sm-4 {
    margin-top: 32px;
  }
  .mt-sm-5 {
    margin-top: 48px;
  }
  .mr-sm-0 {
    margin-right: 0px;
  }
  .mr-sm-1 {
    margin-right: 8px;
  }
  .mr-sm-2 {
    margin-right: 16px;
  }
  .mr-sm-3 {
    margin-right: 24px;
  }
  .mr-sm-4 {
    margin-right: 32px;
  }
  .mr-sm-5 {
    margin-right: 48px;
  }
  .mb-sm-0 {
    margin-bottom: 0px;
  }
  .mb-sm-1 {
    margin-bottom: 8px;
  }
  .mb-sm-2 {
    margin-bottom: 16px;
  }
  .mb-sm-3 {
    margin-bottom: 24px;
  }
  .mb-sm-4 {
    margin-bottom: 32px;
  }
  .mb-sm-5 {
    margin-bottom: 48px;
  }
  .ml-sm-0 {
    margin-left: 0px;
  }
  .ml-sm-1 {
    margin-left: 8px;
  }
  .ml-sm-2 {
    margin-left: 16px;
  }
  .ml-sm-3 {
    margin-left: 24px;
  }
  .ml-sm-4 {
    margin-left: 32px;
  }
  .ml-sm-5 {
    margin-left: 48px;
  }
  .p-sm-0 {
    padding: 0px;
  }
  .p-sm-1 {
    padding: 8px;
  }
  .p-sm-2 {
    padding: 16px;
  }
  .p-sm-3 {
    padding: 24px;
  }
  .p-sm-4 {
    padding: 32px;
  }
  .p-sm-5 {
    padding: 48px;
  }
  .pt-sm-0 {
    padding-top: 0px;
  }
  .pt-sm-1 {
    padding-top: 8px;
  }
  .pt-sm-2 {
    padding-top: 16px;
  }
  .pt-sm-3 {
    padding-top: 24px;
  }
  .pt-sm-4 {
    padding-top: 32px;
  }
  .pt-sm-5 {
    padding-top: 48px;
  }
  .pr-sm-0 {
    padding-right: 0px;
  }
  .pr-sm-1 {
    padding-right: 8px;
  }
  .pr-sm-2 {
    padding-right: 16px;
  }
  .pr-sm-3 {
    padding-right: 24px;
  }
  .pr-sm-4 {
    padding-right: 32px;
  }
  .pr-sm-5 {
    padding-right: 48px;
  }
  .pb-sm-0 {
    padding-bottom: 0px;
  }
  .pb-sm-1 {
    padding-bottom: 8px;
  }
  .pb-sm-2 {
    padding-bottom: 16px;
  }
  .pb-sm-3 {
    padding-bottom: 24px;
  }
  .pb-sm-4 {
    padding-bottom: 32px;
  }
  .pb-sm-5 {
    padding-bottom: 48px;
  }
  .pl-sm-0 {
    padding-left: 0px;
  }
  .pl-sm-1 {
    padding-left: 8px;
  }
  .pl-sm-2 {
    padding-left: 16px;
  }
  .pl-sm-3 {
    padding-left: 24px;
  }
  .pl-sm-4 {
    padding-left: 32px;
  }
  .pl-sm-5 {
    padding-left: 48px;
  }
  .px-sm-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .px-sm-1 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .px-sm-2 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .px-sm-3 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .px-sm-4 {
    padding-right: 32px;
    padding-left: 32px;
  }
  .px-sm-5 {
    padding-right: 48px;
    padding-left: 48px;
  }
  .py-sm-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .py-sm-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .py-sm-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-sm-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .py-sm-4 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .py-sm-5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .d-sm-block {
    display: block;
  }
  .heading1 {
    font-size: 25px;
  }
  .heading2 {
    font-size: 23px;
  }
  .h-sm-auto {
    height: auto;
  }
  .h-sm-screen {
    height: 100vh;
  }
  .gcol-sm-2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .gcol-sm-1 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .d-sm-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .gcol-sm-3 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .h-sm-full {
    height: 100%;
  }
  .obj-sm-scaledown {
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }
  .obj-sm-contain {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .obj-sm-cover {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .obj-sm-none {
    -o-object-fit: none;
    object-fit: none;
  }
  .obj-sm-fill {
    -o-object-fit: fill;
    object-fit: fill;
  }
  .h-sm-1-2 {
    height: 50%;
  }
  .flex-sm-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-sm-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .overflow-visible {
    overflow: visible;
  }
  ._w-sm-full {
    width: 100%;
  }
  ._w-sm-1-4 {
    width: 25%;
  }
  ._w-sm-1-3 {
    width: 33.3333333%;
  }
  ._w-sm-2-3 {
    width: 67.77777%;
  }
  ._w-sm-1-2 {
    width: 50%;
  }
  ._w-sm-auto {
    width: auto;
  }
  ._w-sm-3-4 {
    width: 75%;
  }
  .h-sm-4 {
    height: 4px;
  }
  .h-sm-8 {
    height: 8px;
  }
  .h-sm-12 {
    height: 12px;
  }
  .h-sm-16 {
    height: 16px;
  }
  .h-sm-32 {
    height: 32px;
  }
  .h-sm-40 {
    height: 40px;
  }
  .h-sm-48 {
    height: 48px;
  }
  .h-sm-64 {
    height: 64px;
  }
  .h-sm-80 {
    height: 80px;
  }
  .h-sm-96 {
    height: 96px;
  }
  .h-sm-160 {
    height: 160px;
  }
  .h-sm-200 {
    height: 200px;
  }
  .h-sm-250 {
    height: 250px;
  }
  .h-sm-300 {
    height: 300px;
  }
  .h-sm-350 {
    height: 350px;
  }
  .h-sm-400 {
    height: 400px;
  }
  .h-sm-450 {
    height: 450px;
  }
  .h-sm-500 {
    height: 500px;
  }
  .h-sm-600 {
    height: 600px;
  }
  .h-sm-24 {
    height: 24px;
  }
  .h-sm-1-4 {
    height: 25%;
  }
  .h-sm-3-4 {
    height: 75%;
  }
  .h-sm-1-3 {
    height: 33.33333%;
  }
  .h-sm-2-3 {
    height: 67.77777%;
  }
  .mr-sm-n2 {
    margin-right: -16px;
  }
  .mt-sm-n5 {
    margin-top: -48px;
  }
  .m-sm-n2 {
    margin: -16px;
  }
  .m-sm-n3 {
    margin: -24px;
  }
  .m-sm-n1 {
    margin: -8px;
  }
  .mr-sm-n1 {
    margin-right: -8px;
  }
  .ml-sm-n5 {
    margin-left: -48px;
  }
  .mx-sm-n1 {
    margin-right: -8px;
    margin-left: -8px;
  }
  .ml-sm-n1 {
    margin-left: -8px;
  }
  .ml-sm-n2 {
    margin-left: -16px;
  }
  .ml-sm-n3 {
    margin-left: -24px;
  }
  .mr-sm-n4 {
    margin-right: -32px;
  }
  .mb-sm-n4 {
    margin-bottom: -32px;
  }
  .my-sm-n1 {
    margin-top: -8px;
    margin-bottom: -8px;
  }
  .m-sm-n4 {
    margin: -32px;
  }
  .mb-sm-n5 {
    margin-bottom: -48px;
  }
  .mr-sm-n5 {
    margin-right: -48px;
  }
  .mx-sm-n4 {
    margin-right: -32px;
    margin-left: -32px;
  }
  .mx-sm-n5 {
    margin-right: -48px;
    margin-left: -48px;
  }
  .ml-sm-n4 {
    margin-left: -32px;
  }
  .my-sm-n3 {
    margin-top: -24px;
    margin-bottom: -24px;
  }
  .mt-sm-n4 {
    margin-top: -32px;
  }
  .mx-sm-n3 {
    margin-right: -24px;
    margin-left: -24px;
  }
  .my-sm-n2 {
    margin-top: -16px;
    margin-bottom: -16px;
  }
  .my-sm-n4 {
    margin-top: -32px;
    margin-bottom: -32px;
  }
  .mb-sm-n1 {
    margin-bottom: -8px;
  }
  .mt-sm-n3 {
    margin-top: -24px;
  }
  .mb-sm-n2 {
    margin-bottom: -16px;
  }
  .mx-sm-n2 {
    margin-right: -16px;
    margin-left: -16px;
  }
  .mb-sm-n3 {
    margin-bottom: -24px;
  }
  .mt-sm-n2 {
    margin-top: -16px;
  }
  .mt-sm-n1 {
    margin-top: -8px;
  }
  .m-sm-n5 {
    margin: -48px;
  }
  .my-sm-n5 {
    margin-top: -48px;
    margin-bottom: -48px;
  }
  .mr-sm-n3 {
    margin-right: -24px;
  }
  ._w-sm-12 {
    width: 12px;
  }
  ._w-sm-4 {
    width: 4px;
  }
  ._w-sm-8 {
    width: 8px;
  }
  ._w-sm-64 {
    width: 64px;
  }
  ._w-sm-80 {
    width: 80px;
  }
  ._w-sm-16 {
    width: 16px;
  }
  ._w-sm-48 {
    width: 48px;
  }
  ._w-sm-32 {
    width: 32px;
  }
  ._w-sm-24 {
    width: 24px;
  }
  ._w-sm-96 {
    height: 96px;
  }
  ._w-sm-40 {
    width: 40px;
  }
  .bb-sm-1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .by-sm-1 {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .b-sm-8 {
    border-style: solid;
    border-width: 8px;
  }
  .bt-sm-1 {
    border-top-style: solid;
    border-top-width: 1px;
  }
  .bb-sm-4 {
    border-bottom-style: solid;
    border-bottom-width: 4px;
  }
  .bx-sm-0 {
    border-right-style: solid;
    border-right-width: 0px;
    border-left-style: solid;
    border-left-width: 0px;
  }
  .bb-sm-0 {
    border-bottom-style: solid;
    border-bottom-width: 0px;
  }
  .bt-sm-8 {
    border-top-style: solid;
    border-top-width: 8px;
  }
  .bt-sm-0 {
    border-top-style: solid;
    border-top-width: 0px;
  }
  .bt-sm-2 {
    border-top-style: solid;
    border-top-width: 2px;
  }
  .bl-sm-8 {
    border-left-style: solid;
    border-left-width: 8px;
  }
  .bt-sm-4 {
    border-top-style: solid;
    border-top-width: 4px;
  }
  .bx-sm-8 {
    border-right: 8px solid #000;
    border-left-style: solid;
    border-left-width: 8px;
  }
  .bx-sm-2 {
    border-right-style: solid;
    border-right-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
  }
  .br-sm-4 {
    border-right-style: solid;
    border-right-width: 4px;
  }
  .b-sm-0 {
    border-style: solid;
    border-width: 0px;
  }
  .br-sm-2 {
    border-right-style: solid;
    border-right-width: 2px;
  }
  .bl-sm-4 {
    border-left-style: solid;
    border-left-width: 4px;
  }
  .by-sm-4 {
    border-top-style: solid;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
  }
  .b-sm-4 {
    border-style: solid;
    border-width: 4px;
  }
  .bx-sm-1 {
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
  }
  .bl-sm-1 {
    border-left-style: solid;
    border-left-width: 1px;
  }
  .by-sm-2 {
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  .bx-sm-4 {
    border-right-style: solid;
    border-right-width: 4px;
    border-left-style: solid;
    border-left-width: 4px;
  }
  .bb-sm-8 {
    border-bottom-style: solid;
    border-bottom-width: 8px;
  }
  .br-sm-1 {
    border-right-style: solid;
    border-right-width: 1px;
  }
  .by-sm-0 {
    border-top-style: solid;
    border-top-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
  }
  .br-sm-8 {
    border-right-style: solid;
    border-right-width: 8px;
  }
  .br-sm-0 {
    border-right-style: solid;
    border-right-width: 0px;
  }
  .bl-sm-0 {
    border-left-style: solid;
    border-left-width: 0px;
  }
  .by-sm-8 {
    border-top-style: solid;
    border-top-width: 8px;
    border-bottom-style: solid;
    border-bottom-width: 8px;
  }
  .b-sm-1 {
    border-style: solid;
    border-width: 1px;
  }
  .bb-sm-2 {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  .bl-sm-2 {
    border-left-style: solid;
    border-left-width: 2px;
  }
  .b-sm-2 {
    border-style: solid;
    border-width: 2px;
  }
  .sticky-nav {
    position: relative;
  }
  .nav-grid {
    text-align: center;
  }
  .image-2 {
    display: block;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .container-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .d-xs-none {
    display: none;
  }
  .d-xs-block {
    display: block;
  }
  .overflow-visible {
    overflow: visible;
  }
  .sticky-nav {
    padding: 0px;
  }
  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
  .portfolio-grid {
    padding-right: 15px;
    padding-left: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    background-color: #fdedcc;
  }
  .portfolio-grid.mg-lg-3 {
    grid-auto-columns: minmax(200px, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: minmax(auto, 1fr) minmax(auto, 1fr);
    grid-template-rows: minmax(auto, 1fr) minmax(auto, 1fr);
  }
  .image-2 {
    display: block;
    width: auto;
  }
  .pd-30 {
    padding: 0px 30px;
  }
  .pd-15 {
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
  }
  .heading {
    margin-top: -30px;
    margin-bottom: 0px;
    padding: 10px 15px;
    background-color: #fdedcc;
    font-size: 22px;
    text-align: center;
  }
  .title {
    text-align: center;
  }
  .text-block {
    text-align: left;
  }
  .about {
    margin-top: -1px;
    padding-bottom: 20px;
    background-color: #d6ebe4;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .text-block-2 {
    text-align: center;
  }
  .text-block-3 {
    text-align: center;
  }
  .heading-2 {
    font-size: 20px;
  }
  .central-heading {
    font-size: 20px;
    text-align: center;
  }
  .right-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: 22px;
    text-align: center;
  }
  .right-text {
    padding: 10px 10px 0px;
    background-color: #d6ebe4;
  }
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-menu {
    background-color: #404040;
  }
  .menu-button {
    background-color: #404040;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f4e7f1;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .facebook {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .twitter {
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .container-2 {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .social-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: -1px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-link {
    margin-right: 18px;
    margin-left: 18px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block-4 {
    text-align: center;
  }
}

#w-node-7a51b397d9be-9166997d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-0457718fd2ff-9166997d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-ab8e80604302-9166997d {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-fd3e12be48ba-9166997d {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-7a51b397d9be-9166997d {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #w-node-fd3e12be48ba-9166997d {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-7a51b397d9be-9166997d {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-0457718fd2ff-9166997d {
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }
}

