.App {
  // background-color: #ecd6f0;
  background-color: #e3f6ff;
  height: 100vh;
}

.navbar {
  box-sizing: border-box;
  border-bottom: 1px solid #e1e4e8;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 6;
  background-color: #404040;
  max-height: 80px;
}

nav + .addProduct {
  margin-top: 100px;
}

.burger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 1080px) {
  .navbar {
    padding: 20px 80px;
    .info {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 20px 60px;

    .info {
      width: 55%;
    }
  }
}

@media screen and (max-width: 940px) {
  .navbar {
    padding: 20px 60px;

    .info {
      width: 60%;
    }
  }
}

@media screen and (max-width: 860px) {
  .navbar {
    padding: 20px 40px;

    .info {
      width: 65%;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .info {
      width: 100%;
    }
  }
}

h3 {
  color: #ffffff;
}

// f5f8fa

.addProduct {
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #f5f8fa;
  border-radius: 5px;
  background-color: #ffffff;
  width: 90%;
  min-height: 60vh;

  h3 {
    text-align: center;
  }
}
.file {
  font-size: 1rem;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 0.875rem;
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
  }
}

input[type="file"] {
  background-color: #f5f8fa;
  padding: 10px;
  font-size: 1rem;
}

button {
  width: 100%;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #ffe9d5;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #dadce0;
}

@media screen and (min-width: 768px) {
  .addProduct {
    width: 50%;
  }
}
